#modulesTitle {
  user-select: none;
  font-size: 5rem;
  letter-spacing: -3px;
  line-height: 5.4rem;
  margin: 6vh 0;
  color: #8acaff;
}

#modulesGridContainer {
  margin: 0 calc(15vw + 30px) 45px 15vw;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
}

.gridItem {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed white;
  width: 100%;
  height: 15rem;
  align-self: center;
  justify-self: center;
  text-align: center;
  border-radius: 15px;
}
.gridItem a {
  color: #8acaff;
}

.lastItemOdd {
  grid-column-start: 1;
  grid-column-end: 3;
}

@media only screen and (max-width: 750px) {
  #modulesGridContainer {
    margin: 5vw calc(8vw + 21px) 5vw 8vw;
  }
}
body {
  margin: 0;
  background: #232323;
  color: white;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

#placeholder {
  pointer-events: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
#placeholder h1 {
  margin: 0;
  font-size: 225%;
  letter-spacing: -1px;
}
#placeholder img {
  padding: 1em;
  height: 4em;
  width: auto;
}

#navbar-bg {
  position: absolute;
  width: 100%;
  height: 75px;
  background: black;
}

nav {
  user-select: none;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 0 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(7px);
  box-shadow: 0 4px 20px -2px rgba(138, 202, 255, 0.4);
  box-shadow: 0 4px 20px -3px rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.3s;
}
nav img {
  height: 55px;
}
nav a {
  display: inline-block;
  height: 55px;
}
nav h1 {
  margin: 0;
}
nav #mobileTitle {
  display: none;
  width: 0;
}

footer {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: #141414;
  background-image: url("../img/maze-black.png");
}
footer img {
  height: 25px;
}
footer p {
  margin: 8px 10px;
  filter: drop-shadow(0 0 5px #202020);
  text-align: center;
}
footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
footer a p {
  margin: 8px 0;
}
footer a p::before {
  display: inline-block;
  content: " ";
  height: 15px;
  width: 5px;
}

@media only screen and (max-width: 750px) {
  nav #mainTitle {
    display: none;
    width: 0;
  }
  nav #mobileTitle {
    display: inline-block;
    width: fit-content;
  }
}
#err404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#err404 img {
  margin-top: 6vh;
  width: 5em;
  transition: filter 0.2s ease 0s;
}
#err404 img:hover {
  filter: drop-shadow(0 0 5px #16adff);
  transition: filter 0.2s ease 0s;
}
#err404 h1 {
  pointer-events: none;
  user-select: none;
  margin: 30vh 0 0 0;
  font-size: 350%;
  color: #35b8ff;
}
#err404 p {
  pointer-events: none;
  user-select: none;
  margin: 0;
  font-size: 125%;
}

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  background: #2a2a2a;
}

::-webkit-scrollbar-thumb {
  background: #828282;
  border: 3px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background: lightgray;
  border: 3px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}

/*# sourceMappingURL=styles.css.map */
