#modulesTitle {
  user-select: none;
  font-size: 5rem;
  letter-spacing: -3px;
  line-height: 5.4rem;
  margin: 6vh 0;
  color: #8acaff;
}

#modulesGridContainer {
  margin: 0 calc(15vw + 30px) 45px 15vw;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
}

.gridItem {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed white;
  width: 100%;
  height: 15rem;
  align-self: center;
  justify-self: center;
  text-align: center;
  border-radius: 15px;
}
.gridItem a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #8acaff;
  width: 100%;
  height: 100%;
}

.lastItemOdd {
  grid-column-start: 1;
  grid-column-end: 3;
}

@media only screen and (max-width: 750px) {
  #modulesGridContainer {
    margin: 5vw calc(8vw + 21px) 5vw 8vw;
  }
}
* {
  outline: 0;
}

.inputGrid {
  box-sizing: border-box;
  margin: 4vh 3vw 3vh 3vw;
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: center;
}

.inputContainer {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ddLabel {
  color: #8acaff;
  margin-top: 25px;
  display: inline-block;
  width: 300px;
  text-align: left;
}

#solver {
  display: block;
  margin: 35px 0 8vh 0;
  padding: 10px 50px;
  border: 2px solid #16adff;
  border-radius: 30px;
  font-size: 120%;
  background-color: #16adff;
  box-shadow: 0px 8px 15px rgba(43, 80, 172, 0.1);
  transition: all 0.3s ease 0s;
  color: white;
  cursor: pointer;
  align-self: center;
}
#solver:hover {
  background-color: black;
  border-color: #16adff;
  box-shadow: 0px 15px 20px rgba(73, 105, 186, 0.4);
  transform: translateY(-5px);
}

#solvedOverlay {
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(7px);
  top: 75px;
  left: 0;
  width: 100%;
  height: calc(100vh - 75px);
}

#solvedMessage {
  user-select: none;
  font-size: 150%;
  text-align: center;
  margin: 0 25px;
  background-color: black;
  border-radius: 10px;
  padding: 25px 50px;
  box-shadow: 0 0 20px 8px red;
}

#solvedOkayButton {
  cursor: pointer;
  user-select: none;
  margin: 10vh 0 0 0;
  padding: 10px 29px;
  border: 2px solid red;
  border-radius: 30px;
  font-size: 120%;
  background-color: black;
  color: white;
  box-shadow: 0 0 20px 5px crimson;
}

span.msg, span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit;
}

.container {
  width: 500px;
  margin: 50px auto 0;
  text-align: center;
}

.dropdown {
  width: 300px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all 0.5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left;
}

.dropdown .select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
}

.dropdown .select > img {
  user-select: none;
  pointer-events: none;
  cursor: pointer;
  width: 10px;
}

.dropdown:hover {
  box-shadow: 0 0 4px rgb(204, 204, 204);
}

.dropdown:active {
  background-color: #f8f8f8;
}

.dropdown.active:hover, .dropdown.active {
  box-shadow: 0 0 4px rgb(204, 204, 204);
  border-radius: 2px 2px 0 0;
  background-color: #f8f8f8;
}

.dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  width: 100%;
  left: 0;
  margin-top: 1px;
  box-shadow: 0 1px 2px rgb(204, 204, 204);
  border-radius: 0 1px 2px 2px;
  overflow: hidden;
  display: none;
  max-height: 165px;
  overflow-y: auto;
  z-index: 1;
}

.dropdown .dropdown-menu li {
  padding: 10px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.dropdown .dropdown-menu {
  padding: 0;
  list-style: none;
}

.dropdown .dropdown-menu li:hover {
  background-color: #f2f2f2;
}

.dropdown .dropdown-menu li:active {
  background-color: #e2e2e2;
}

@media only screen and (max-width: 750px) {
  #solver:hover {
    background-color: #16adff;
    border-color: #16adff;
    box-shadow: none;
    transform: translateY(0);
  }
}
@media only screen and (max-width: 950px) {
  .inputGrid {
    grid-template-columns: 100%;
    gap: 0;
    margin: 0;
  }
  .inputContainer {
    margin: 0;
  }
  #solver {
    margin: 35px 0;
    padding: 10px 30px;
  }
}
body {
  margin: 0;
  background: #232323;
  color: white;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
}

.hide {
  display: none;
  width: 0;
  height: 0;
}

.centreFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#placeholder {
  pointer-events: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
#placeholder h1 {
  margin: 0;
  font-size: 225%;
  letter-spacing: -1px;
}
#placeholder img {
  padding: 1em;
  height: 4em;
  width: auto;
}

#wipWarning {
  user-select: none;
  pointer-events: none;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffbb00;
  color: black;
  box-shadow: 0 4px 20px -2px rgba(255, 187, 0, 0.6666666667);
  margin: 0 0 5vh 0;
}
#wipWarning img {
  margin: 0 10px 0 0;
  filter: drop-shadow(0 0 5px #000000);
  width: 20px;
}

#navbar-bg {
  position: absolute;
  width: 100%;
  height: 75px;
  background: black;
}

nav {
  user-select: none;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 0 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(7px);
  z-index: 10;
  box-shadow: 0 4px 20px -2px rgba(138, 202, 255, 0.4);
}
nav img {
  height: 55px;
}
nav a {
  display: inline-block;
  height: 55px;
}
nav h1 {
  margin: 0;
}
nav #mobileTitle {
  display: none;
  width: 0;
}

footer {
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: #141414;
  background-image: url("../img/maze-black.png");
}
footer img {
  height: 25px;
}
footer p {
  margin: 8px 10px;
  filter: drop-shadow(0 0 5px #202020);
  text-align: center;
}
footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
footer a p {
  margin: 8px 0;
}
footer a p::before {
  display: inline-block;
  content: " ";
  height: 15px;
  width: 5px;
}

@media only screen and (max-width: 750px) {
  nav #mainTitle {
    display: none;
    width: 0;
  }
  nav #mobileTitle {
    display: inline-block;
    width: fit-content;
  }
}
#err404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#err404 img {
  margin-top: 6vh;
  width: 5em;
  transition: filter 0.2s ease 0s;
}
#err404 img:hover {
  filter: drop-shadow(0 0 5px #16adff);
  transition: filter 0.2s ease 0s;
}
#err404 h1 {
  text-align: center;
  pointer-events: none;
  user-select: none;
  margin: 30vh 0 0 0;
  font-size: 350%;
  color: #35b8ff;
}
#err404 p {
  text-align: center;
  pointer-events: none;
  user-select: none;
  margin: 0;
  font-size: 125%;
}

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  background: #2a2a2a;
}

::-webkit-scrollbar-thumb {
  background: #828282;
  border: 3px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background: lightgray;
  border: 3px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}

/*# sourceMappingURL=styles.css.map */
